html,
body {
    height: 100%;
}

body {
    font-family: 'IRANSans', Helvetica, sans-serif;
    background-color: black;
    direction: rtl;
    color: #ffffff;
}

.btn-demo{
    cursor: default;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a, a:active, a:focus {
    outline: none;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.yellow-btn {
    color: black;
    background-color: #fc0;
}
.yellow-btn:hover {
    color: black;
    background-color: #a37f00;
}

.top-nav {
    padding-bottom: 20px;
    margin-bottom: 0px;
    border: none;
}

#menu-outer {
    height: 84px;
}

.table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}

ul#horizontal-list {
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.league-icon{
    width: 40px;
    height: 40px;
}

.center-content {
    /*background:#333;*/
    padding-top: 15px;
}

.leftbar {
    padding-left: 0px;
    padding-right: 10px;
}

.rightbar {
    padding-left: 10px;
    padding-right: 0px;
}

.box {
    background:#0f0f0f;
    border:0;
    margin-bottom:10px;
    border: 2px solid #fc0;
}

.box.content {
    width:100%;
    min-width:250px;
}
.box .header {
    background:#000;
    color:#f7cc00;
    padding:5px;
    border-bottom:1px solid #333;
    font-weight:bold;
    line-height:30px;
    text-align:center;
}
.box .body {
    color:#fff;
    min-height:100px;
    direction: rtl;
}

.rightbar .box .header {
    /*background-image: url("../image/header_soccer.png");*/
    background-color: transparent;
    background-position: top right;
    background-repeat: no-repeat;
    margin: 0;
    overflow: auto;
}

.match_group_header {
    background-color: black;
    color: #8e7138;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.match_group_header span {
    font-size: 18px;
}

.match_group_header .match_group_name {
    font-size: 18px;
    margin-right: 5px;
}

.btn-odds {
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    background-color: #4b4b4b;
    color: white;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.btn-odds:hover {
    background-color: #777777;
    cursor: pointer;
}

.btn-odds-more {
    color: #fc0;
    width: 30px;
    height: 30px;
}

a:hover, a:active {
    color: #f7cc00;
}

table.teams, table.teams tr td{
    height: 40px;
}

table.teams .start_time {
    color: #fc0;
    padding-right: 10px;
}

table.teams .match_score {
    color: #fc0;
    padding-right: 10px;
    padding-left: 10px;
}

.match_list_date {
    padding-left:0px;
    font-size:20px;
}

.match_list_count_container {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.sports-info-header {
    text-align: center;
}

.days {
    background:#0f0f0f;
    height:40px;
    line-height:40px;
    padding:0!important;
    text-align:center;
    font-size: 18px;
}
.days a {
    padding:7px 20px!important;
    font-size:13px;
    text-decoration: none;
}

.days a:hover,.days a.active {
    border-bottom: 3px solid #fc0;
}
.match_list {
    width:100%;
    margin:0 0 10px;
    padding:0;
    direction:rtl;
}

.match_list tr {
    width: 100%;
}

.match_list .teams_title span:first-child{
    margin-left: 5px;
}

.match_list .teams_title span{
    height: 30px;
    line-height: 40px;
    text-align: center;
}

.match_list td {
    border-top: 0px !important;
    text-align: center;
}

.match_list td .first_column{
    text-align: right !important;
}

.nobet {
    padding-right: 10px;
    padding-left: 10px;
    display: table;
    text-align: center;
    height: 100px;
}
.nobet span {
    display: table-cell;
    vertical-align: middle;
}

.bet {
    background-color: #fff2bf;
    list-style-type: none;
    padding: 5px;
    color: black;
    margin-bottom: 0px !important;
    border-bottom: 1px solid black;
}
.bet .delete {
    float: left;
}
.bet .odds {
    float: left;
}
.bet input.input {
    width: 100px;
}
.bet .win-price{
    float: left;
}
.bet .ToWin{
    font-weight: bold;
}

.bet li {
    margin: 5px 2px;
}

.nav li {
    float: right;
}

div.bettotal {
    background-color: #ffcc00;
    padding: 5px;
    color: black;
    margin-bottom: 0px !important;
}
ul.bettotal {
    list-style-type: none;
    padding-right: 0px;
}
.bettotal .totalstake {
    float: left;
}
.bettotal .totalwin {
    float: left;
}

.page-footer {
    background-color: #222222;
}
.dash-menu-btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    color: #ffffff;
}

.menu-divider {
    border-bottom: 1px solid #333;
    margin: 0 10px;
}

.dash-menu-btn:hover, .dash-menu-btn a:hover {
    color: #f7cc00;
}

.dash-menu-btn a {
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
}

.dash-menu-btn .active {
    color: #f7cc00;
}


.charge-box {
    padding: 20px 10px 10px;
}

.charge-box div.input-group {
    direction: ltr;
    width: 400px;
    margin: 30px auto 10px auto;
}
.account-box {
    padding: 20px 10px 10px;
    color: #333333;
    height: 400px;
}
.account-box .panel-body {
    font-weight: bolder;
    text-align: center;
}

.transaction-box {
    padding: 20px 10px 10px;
}

.transaction-box table tr:nth-of-type(2n+1){
    background-color: #333 !important;
    color: #333;
}

/*.transaction-box table tr {*/
/*color: #f7cc00;*/
/*}*/